*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}
.header-image{
width: 100px;
height: 100px;
}
#contact2{
    background-color: orange;
    border-radius: 0;
    font-size: 25px;
}

.container{
    padding: 1px 2%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 25%;
}
.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    border-radius: 25%;
}
nav ul{
    display: inline-block;
    position: sticky;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    border-radius: 2px;
}

nav ul li a:hover{
background-color: cornflowerblue;
}

.header_1{
margin-top: 5%;
font-size: 30px;
color: white;
}
.header_1 h1{
    font-size: 60px;
    margin-top: 0px;
}
.header_1 h1 span{
   color: #ff2f01;
}



 #about{
    padding: 20px;
    color: black;
 }

 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

.about_1{
flex-basis: 35%;
 }

.about_1 img{
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
 }

 .about_2{
    flex-basis: 60%;
    font-size: 25px;
 }
 .heading_s{
    font-weight: 600;
    font-size: 60px;
    color: orange;
 }

 .tab-heads{
    display: flex;
    margin: 20px 0 40px;
 }

 .head_1{
    margin-right: 50px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
   
 }




 .cheese ul li{
list-style:disc;
margin: 10px 0;
 }

 .cheese ul li span{
    color: orangered;
    font-size: 30px;
 }
 .cheese{
    display: none;
    font-size: 24px;

 }

 .active_tag{
    display: block;
 }



 .servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: orangered;
}
.servicesText:hover {
    border: 1px solid orangered;
    background-color: orange;
}
  #my_work{
padding: 50px 0;
  }

  .work_li{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 35px;
    margin-top: 35px;
   
  }
  .work_li .work_1 img{
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 50px;

  }
  .work_1{
    border-radius: 300px;
    position: relative;
    overflow: hidden;
  }

  .up_to{
    width: 100%;
    height: 0;
    background: orange;
    opacity: 0.8;
    border-radius: 0px;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40 px;
    text-align: center;
    font-size: 17px;
  }
 
 
  .work_1 img{
    width: 100%;
    height: 400px ;

  }
  
  .work_1:hover .up_to{
    height: 100%;

  }

  .contact_left{
    flex-basis: 35%;
  }
 .contact_right{
    flex-basis: 60%;
  }
  .contact_left p{
    margin-top: 30px;
    font-size: 25px;
  }
  .contact_left p i{
    color: orange;
    margin-right:15px ;
    font-size: 25px;
  }

  .icons{
    margin: 20px 0;
  }

  .icons a{
    text-decoration: none;
    color: orangered;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
  }
  .icons a :hover{
    color:yellow;
    transform: translate(5px);
}

.contact_right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 3px solid orange;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: px;
}
.btn2{
    display: inline-block;
    width: 30%;
    color: white;
    border: 3px solid orange;
    
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px ;
   
    background-color: orange;
}

.btn2:hover{
   background-color: #ff2f01;
}


/* Contact */

/*___________________ MEDIA QUERY__________________________ */
nav .fas{
    display:none;
}

@media only screen and (max-width: 645px){
    #header{
        background-image: none;
        background-color: lightgoldenrodyellow;
    }
    .header_1{
        margin-top:10%;
        font-size:15px;
    }
    .header_1 h1{
        font-size: 30px;
    }

    nav .fas{
        display:block;
        font-size: 20px;
    }

    nav ul{
        background:-o-repeating-linear-gradient();
        opacity: 0.8;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top:50px;
        z-index: 2;
        transition: right 1s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul li a{
        color: white;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
    }
    #about{
        padding: 1px;
    }

    .heading_s{
        font-size: 60px;
        margin: 5px;
    }
   .about_1, .about_2{
        flex-basis: 100%;
        margin: 5px;
        padding: 0;
    }
   .about_1{
        margin-bottom: 10px;
    }
    .about_2{
        font-size: 15px;
    }
    .head_1{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact_left, .contact_right{
        flex-basis: 100%;
    }
    .desc{
        font-size: 14px;
    }
}